@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

*,
::after,
::before {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.game {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block {
    opacity: .3;
    cursor: pointer;
    display: inline-block;
}

.block-yellow {
    background-color: rgb(252, 237, 93);
}

.block-green {
    background-color: rgb(41, 235, 38);
}

.block-blue {
    background-color: rgb(38, 126, 235);
}

.block-red {
    background-color: rgb(235, 74, 38);
}

.status{
    font-size: 20px;
    text-align: center;
    display: flex;
    transform: translate(-50%,-50%);
    left: 50%;
    gap:10px;
    top: 50%;
    position: absolute;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.score{
    font-size: 20px;
    display: flex;
    gap: 10px;
    margin: 30px 0 ;
}

.start {
    width: 150px;
    height: 70px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.start:hover {
    background-color: greenyellow;
}

.reset:hover {
    background-color: red;
}

@media screen and (min-width: 500px) {
    .game {
        gap: 10px;
        width: 350px;
        height: 350px;
    }
}